html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* leaflet popup */
.leaflet-popup-content-wrapper {
  border-radius: 0px !important;
  border: 1px solid black !important;
}
.leaflet-popup-tip-container {
  display: none;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important;
}
